/*
    color documentation
    primary text #000000 (black)
    primary color #1818e2
    primary color text #ffffff (white)
    acent color #bdbd0f
    acent color text #000000 (black)
    background #e9e6e6
*/

/*GLOBAL*/
* {
    font-family: arial, sans-serif;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}
body {
    background-color: #e9e6e6; 
}
i {
    font-size: 24px;
}

/*LAYOUT*/
#leftside {
    position: absolute;
    height: 100%;
    width: 40%;
}
#rightside {
    position: absolute;
    height: 100%;
    width: 60%;
    left: 40%;
}
#chat {
    position: absolute;
    width: 100%;
    top: 64px;
    bottom: 72px;
    overflow-y: auto;
}

/*APP BAR*/
.app-bar {
    background-color: #1818e2;
    color: white;
    height: 64px;
    position: relative;
}
.app-bar h1 {
    font-size: 25px;
    font-weight: 500;
    box-sizing: border-box;
    padding: 24px 16px 20px 16px;
}
#leftside .app-bar {
    padding-left: 72px;
}
#leftside .app-bar img {
    position: absolute;
    left: 16px;
    bottom: 0;
}
.app-bar a {
    color: white;
}
#rightside .app-bar i {
    position: absolute;
    right: 16px;
}

/*CHANNELS LIST*/
#channels {
    background-color: white;
    list-style-type: none;
    width: 100%;
    position: absolute;
    top: 64px;
    bottom: 72px;
    overflow-y: auto;
}
#channels ul li {
    font-size: 16px;
    height: 48px;
    padding: 16px;
    border-bottom: 1px solid #e9e6e6;
    box-sizing: border-box;
    position: relative;
}
.channel-list-icons {
    position: absolute;
    right: 16px;
    top: 12px;
}
#channels ul li img {
    vertical-align: middle;
}
#channels .selected-channel {
    color: #1818e2;
    border-left: 4px solid #1818e2;
}

/*TAB BAR + CHAT BAR*/
#tab-bar, #chat-bar {
    background-color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}
#tab-bar button, #chat-bar button {
    text-transform: uppercase;
    background-color: white;
    border: none;
    height: 72px;
    width: 33%;
    padding: 16px 16px 16px 16px;
    flex-grow: 1;
}
#tab-bar button i, #chat-bar buttom i {
    margin-right: auto;
    margin-left: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    display: block;
}
#tab-bar .selected-tab {
    color: #1818e2;
    border-bottom: 4px solid #1818e2;
}

/*CHAT BAR*/
#chat-bar button {
    width: auto;
    flex-grow: 0;
}
#message-input {
    font-size: large;
    border: none;
    width: 90%;
}
#emojis {
    background-color: white;
    border: 1px solid black;
    position: absolute;
    box-sizing: border-box;
    height: 300px;
    border-block-end-width: 300px;
    left: 16px;
    top: -284px;
    padding: 16px;
    text-align: left;
    font-size: 28px;
    overflow-y: auto;
    display: none;
}

/*MESSAGES*/
.message {
    width: 80%;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 2.5%;
    position: relative;
}
.message p {
    background-color: white;
    padding: 16px;
}
.message h3 {
    font-size: medium;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.message strong {
    text-transform: uppercase;
}
.message .remaining-time {
    font-size: larger; 
    font-style: normal;
    width: 20%;
    text-align: right;
}
.message a {
    color: black;
    width: 30%;
}
.message button {
    color: black;
    background-color:#CDDC39;
    text-transform: uppercase;
    position: absolute;
    right: 8px;
    bottom: 8px;
}
.own-message {
    margin-left: 17.5%;
}